<a href="https://colab.research.google.com/github/KotarRohith/Concepts/blob/main/Week_1_Template.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Problem Set 1

**REMINDER**: Please complete the initial course survey here before submitting the assignment: https://forms.office.com/r/QE3U3xKVKW

For problems 1 and 2, use declarative code in Pandas to arrive at your solution.  Full credit will not be given for imperative approaches, such as iterating through rows.

## Preparation

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from datetime import datetime
import pytz

###Import data

In [2]:
from google.colab import drive
drive.mount("/content/drive")
!mkdir -p datashim
!cp /content/drive/Shareddrives/DS602-F22/Data/data602.py ./datashim
from datashim import data602

Mounted at /content/drive

In [3]:
cdf = data602.read_citations()
wdf = data602.read_weather()

## Question 1 (10%)

Using the `weather` dataset, provide the following summary statistics:

###a. Over the entire datasets, which observations had the hottest and coldest temperatures? What were those temperatures?

In [4]:
wdf

,date,wnd_speed,tmp_meas,precip,precip_intensity,cloudcover,tstorm,winter,mist,fog
0,2015-12-31 19:54:00-05:00,1.5,7.2,0.0,0,4.0,0,0,0,0
1,2015-12-31 20:54:00-05:00,3.1,6.1,0.0,0,4.0,0,0,0,0
2,2015-12-31 21:54:00-05:00,2.1,6.7,0.0,0,4.0,0,0,0,0
3,2015-12-31 22:54:00-05:00,2.6,6.1,0.0,0,4.0,0,0,0,0
4,2015-12-31 23:54:00-05:00,2.1,5.6,0.0,0,4.0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...
58462,2022-09-02 12:54:00-04:00,4.6,27.8,NaN,0,3.0,0,0,0,0
58463,2022-09-02 13:54:00-04:00,2.6,28.9,NaN,0,3.0,0,0,0,0
58464,2022-09-02 14:54:00-04:00,4.1,28.9,NaN,0,3.0,0,0,0,0
58465,2022-09-02 15:54:00-04:00,4.6,29.4,NaN,0,3.0,0,0,0,0
58466,2022-09-02 16:54:00-04:00,4.6,30.0,NaN,0,3.0,0,0,0,0

In [5]:
hot = wdf['tmp_meas'].max()
cold = wdf['tmp_meas'].min()
print('Hottest Temperature:', hot)
print('Coldest Temperature:', cold)

Hottest Temperature: 37.8
Coldest Temperature: -16.1

### b. In 2020, what month had the hottest average temperature? The coldest?

In [6]:
wdf['year'] = wdf['date'].dt.year
wdf['month'] = wdf['date'].dt.month
wdf['dt'] = pd.to_datetime(wdf['date']).dt.date
y2020=wdf[wdf['year']==2020]
avgtemp=y2020.groupby(y2020['month']).agg({"tmp_meas": "mean"})
print("Hottest Month",avgtemp[avgtemp['tmp_meas']==avgtemp['tmp_meas'].max()])
print("Coldest Month",avgtemp[avgtemp['tmp_meas']==avgtemp['tmp_meas'].min()])

#print("Hottest Month",wdf[wdf['tmp_meas']==wdf['tmp_meas'].max()]['month'])

Hottest Month         tmp_meas
month
7      27.809005
Coldest Month        tmp_meas
month
12         4.25

### c. In 2020, how many days were associated with rain (i.e., liquid precipitation exceeding zero for at least one observation)?

In [8]:
prec2020=y2020[y2020['precip']>0]

In [9]:
prec2020

,date,wnd_speed,tmp_meas,precip,precip_intensity,cloudcover,tstorm,winter,mist,fog,year,month,dt
35106,2020-01-03 03:54:00-05:00,3.6,8.9,1.0,1,4.0,0,0,0,0,2020,1,2020-01-03
35107,2020-01-03 04:54:00-05:00,3.1,8.3,1.5,1,4.0,0,0,1,0,2020,1,2020-01-03
35108,2020-01-03 05:54:00-05:00,0.0,8.3,1.3,1,4.0,0,0,0,0,2020,1,2020-01-03
35109,2020-01-03 06:54:00-05:00,0.0,8.3,0.5,0,4.0,0,0,0,0,2020,1,2020-01-03
35121,2020-01-03 18:54:00-05:00,2.1,11.1,0.3,1,4.0,0,0,1,0,2020,1,2020-01-03
...,...,...,...,...,...,...,...,...,...,...,...,...,...
43668,2020-12-24 23:54:00-05:00,7.7,16.1,1.3,0,4.0,0,0,0,0,2020,12,2020-12-24
43669,2020-12-25 00:54:00-05:00,2.6,14.4,7.1,1,4.0,0,0,0,0,2020,12,2020-12-25
43670,2020-12-25 01:54:00-05:00,2.1,13.3,0.5,1,4.0,0,0,0,0,2020,12,2020-12-25
43671,2020-12-25 02:54:00-05:00,7.2,12.8,2.0,1,4.0,0,0,1,0,2020,12,2020-12-25
43672,2020-12-25 03:54:00-05:00,3.6,8.9,0.3,1,4.0,0,0,0,0,2020,12,2020-12-25

In [12]:
n=prec2020['dt'].nunique()
print("In 2020,"+str(n)+" days were associated with rain ")

In 2020,144 days were associated with rain

##Question 2 (25%)
From the `citations` dataset, provide the following summary statistics:

###a. Which violation types, on average, incur the highest fines?

In [13]:
cdf

,citation,tag,state,violcode,description,violfine,violdate,location,violdtl
0,91,03W671,MD,27,No Stop/Park Street Cleaning,52,2011-12-09 11:55:00-05:00,<NA>,2011-12-09 11:55:00
1,166,T294093T,MD,12,No Stopping/Standing Not Tow-Away Zone,32,2011-12-09 12:39:00-05:00,<NA>,2011-12-09 12:39:00
2,299,19TLR318,ME,99,All Other Stopping or Parking Violations,32,2011-12-09 11:55:00-05:00,<NA>,2011-12-09 11:55:00
3,315,14TLR551,ME,99,All Other Stopping or Parking Violations,32,2011-12-09 12:01:59-05:00,<NA>,2011-12-09 12:01:59
4,562,9AE2340,MD,18,All Other Parking Meter Violations,32,2011-12-12 10:47:00-05:00,LAFAYETTE MARKET LOT Baltimore MD,2011-12-12 10:47:00
...,...,...,...,...,...,...,...,...,...
6599551,500146564,7FA7955,MD,31,Right on Red,75,2022-08-16 09:38:00-04:00,<NA>,2022-08-16 09:38:00
6599552,500146565,IBT1204,MD,31,Right on Red,75,2022-08-16 09:39:00-04:00,<NA>,2022-08-16 09:39:00
6599553,500146566,62536CK,MD,30,Red Light Violation,75,2022-08-16 09:41:00-04:00,<NA>,2022-08-16 09:41:00
6599554,500146567,6EX0323,MD,30,Red Light Violation,75,2022-08-16 09:41:00-04:00,<NA>,2022-08-16 09:41:00
6599555,500146568,8DH4234,MD,31,Right on Red,75,2022-08-16 09:42:00-04:00,<NA>,2022-08-16 09:42:00

In [25]:
fines=cdf.groupby(cdf['description']).agg({'violfine':'mean'})
high_fines=fines[fines['violfine']==fines['violfine'].max()]
print("Types with highest fines")
print(high_fines)

Types with highest fines
                                          violfine
description
Unlawful Dumping/Waste Hauler w/o Permit     502.0
No Parking/Standing Vendor Truck             502.0

###b. In 2020, which violation type was the most common? What percentage of total citations issued that year did it comprise?

In [31]:
cdfy2020 = cdf[cdf['violdate'].dt.year == 2020]

#cdfy2020[cdfy2020['description']=="Fixed Speed Camera"]

,citation,tag,state,violcode,description,violfine,violdate,location,violdtl
122514,5489464,4DZ9415,MD,32,Fixed Speed Camera,40,2020-01-02 09:43:00-05:00,<NA>,2020-01-02 09:43:00
729049,31155568,7BL9879,MD,32,Fixed Speed Camera,40,2020-01-16 14:54:00-05:00,<NA>,2020-01-16 14:54:00
729050,31155576,8EA8165,MD,32,Fixed Speed Camera,40,2020-01-16 14:55:59-05:00,<NA>,2020-01-16 14:55:59
729051,31155584,4DN0362,MD,32,Fixed Speed Camera,40,2020-01-16 14:55:59-05:00,<NA>,2020-01-16 14:55:59
729052,31155592,1DZ2227,MD,32,Fixed Speed Camera,40,2020-01-16 14:55:59-05:00,<NA>,2020-01-16 14:55:59
...,...,...,...,...,...,...,...,...,...
1810595,36764620,9DY6971,MD,32,Fixed Speed Camera,40,2020-12-18 13:50:00-05:00,<NA>,2020-12-18 13:50:00
1810596,36764638,3DE8598,MD,32,Fixed Speed Camera,40,2020-12-18 13:50:00-05:00,<NA>,2020-12-18 13:50:00
1810597,36764646,4DS3238,MD,32,Fixed Speed Camera,40,2020-12-18 13:50:00-05:00,<NA>,2020-12-18 13:50:00
1810598,36764653,5DB7083,MD,32,Fixed Speed Camera,40,2020-12-18 13:50:59-05:00,<NA>,2020-12-18 13:50:59
1810599,36764661,6BA9956,MD,32,Fixed Speed Camera,40,2020-12-18 13:50:59-05:00,<NA>,2020-12-18 13:50:59

In [153]:
#cdfy2020_new=cdfy2020[['description']]
c=cdfy2020.groupby(['description']).agg(count=('description', 'count'))
print("Most common violation type")
c[c['count']==c['count'].max()]
#c.sort_values(by=['count'],ascending=False)
#cdfy2020_new

Most common violation type

                     count
description
Fixed Speed Camera  597338

In [115]:
#cdfy2020['description'].value_counts()==cdfy2020['description'].value_counts().max()
#common=cdfy2020['description'].value_counts().max()
#cdfy2020['description'].value_counts()==common

a=cdfy2020['description'].value_counts(normalize=True).mul(100).round(1).astype(str) + '%'

print(a.index[0]," comprised",a.iloc[0],"percentage of total citations issued that year")

Fixed Speed Camera  comprised 60.3% percentage of total citations issued that year

In [37]:
cdfy2020

,citation,tag,state,violcode,description,violfine,violdate,location,violdtl
1845,942797,7CX7664,MD,17,Less Than 15 feet from Fire Hydrant,77,2020-02-11 17:06:00-05:00,<NA>,2020-02-11 17:06:00
1846,942805,1DT7764,MD,22,Expired Tags,32,2020-02-19 12:08:00-05:00,<NA>,2020-02-19 12:08:00
1847,942813,EBN3484,MI,26,No Stop/Park Handicap,502,2020-02-20 07:41:00-05:00,<NA>,2020-02-20 07:41:00
1848,942839,FZM3321,OH,99,All Other Stopping or Parking Violations,32,2020-02-26 16:18:59-05:00,<NA>,2020-02-26 16:18:59
1849,942896,1DC0033,MD,22,Expired Tags,32,2020-02-26 12:00:00-05:00,<NA>,2020-02-26 12:00:00
...,...,...,...,...,...,...,...,...,...
6423021,57465016,348105T,MD,31,Right on Red,75,2020-12-31 17:28:00-05:00,<NA>,2020-12-31 17:28:00
6423022,57465024,1CT9267,MD,31,Right on Red,75,2020-12-31 17:29:00-05:00,<NA>,2020-12-31 17:29:00
6423023,57465032,6DS9321,MD,30,Red Light Violation,75,2020-12-31 17:32:00-05:00,<NA>,2020-12-31 17:32:00
6423024,57465040,5DT4422,MD,30,Red Light Violation,75,2020-12-31 17:34:00-05:00,<NA>,2020-12-31 17:34:00
6423028,57465065,2EF5409,MD,30,Red Light Violation,75,2020-12-31 17:44:00-05:00,<NA>,2020-12-31 17:44:00

###c. In 2020, which violation type was responsible for the highest fine revenue (i.e., highest sum of fine amounts)? What percentage of total fine revenue did it comprise for the year?

In [75]:
fines=cdfy2020.groupby(['description']).agg({'violfine':'sum'})
high_revenue=fines[fines['violfine']==fines['violfine'].max()]
print("Highest revenue generated by ")
print("-----------------------------")
print(high_revenue)
print("-----------------------------")
total_revenue=cdfy2020['violfine'].sum()
print("Total Fine for year 2020",total_revenue)
print("-----------------------------")
print("percentage of total fine revenue did it comprise for the year 2020 is ")
t=(high_revenue.iloc[:,]/total_revenue)*100
print(t.to_string(index=False,header=False))

Highest revenue generated by
-----------------------------
                    violfine
description
Fixed Speed Camera  23893520
-----------------------------
Total Fine for year 2020 49488250
-----------------------------
percentage of total fine revenue did it comprise for the year 2020 is
48.281198

###d. Show the fines charged against the 10 tags (license plates) with the highest total fines assessed in 2020. For each, show the total number of citations, and mean/standard deviation of the fine amount.

In [78]:
cdfy2020['tags'] = cdfy2020['state'].astype(str) + '/' + cdfy2020['tag']
fines = (cdfy2020.groupby("tags")["violfine"].agg(["count", "mean", "std", "sum"]).sort_values("sum", ascending=False).head(10))
fines

<ipython-input-78-1334fb2babf8>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cdfy2020['tags'] = cdfy2020['state'].astype(str) + '/' + cdfy2020['tag']

             count       mean        std   sum
tags
MD/A354123     143  41.223776   6.451793  5895
MD/9DR2114     101  46.930693  14.017316  4740
MD/6EE1679      86  53.837209  17.212759  4630
VA/URX4846      76  58.171053  16.187557  4421
MD/4CXM25       96  45.468750  12.774937  4365
PA/RR5H74       86  49.267442  16.154711  4237
MD/NO TAGST    108  37.138889  10.422350  4011
MD/8DW4455      89  44.719101  12.021750  3980
MD/2CC3046      88  44.113636  11.195680  3882
MD/A334199      78  48.871795  15.468744  3812

###e. Due to accuracy concerns, Baltimore City suspended fixed speed camera enforcement for a multi-year period that is covered by the dataset. Using the data, show when the hiatus began and when citations resumed.

In [90]:
cds=cdf[cdf['description']=='Fixed Speed Camera'][['violdate']].sort_values('violdate')
cds["previousviol"] = cds["violdate"].shift(1)
cds['diffdays'] = cds["violdate"] - cds["previousviol"]
cds.sort_values("diffdays", ascending=False).head(5)

                         violdate              previousviol           diffdays
3823103 2017-07-31 06:00:00-04:00 2012-12-31 14:09:00-05:00 1672 days 14:51:00
3973623 2010-02-17 11:34:00-05:00 2010-01-12 12:32:00-05:00   35 days 23:02:00
3883186 2009-12-17 11:29:59-05:00 2009-12-04 13:05:00-05:00   12 days 22:24:59
3903942 2009-12-29 13:51:59-05:00 2009-12-17 11:29:59-05:00   12 days 02:22:00
3983662 2010-02-24 16:46:00-05:00 2010-02-17 11:34:00-05:00    7 days 05:12:00

##Question 3 (25%)
**Frawley, et al., define an 'interesting' pattern as interesting if it is "novel, useful, and non-trivial to compute."  Explore either of the above datasets to identify an interesting pattern.  Describe the pattern and why it is novel, useful, and non-trivial.**

Note: this question does not require code.  Submit your response as text within the notebook, or as a Word document if you prefer.

Working with data and finishing computations is driven by the desire to learn new things. We accomplish this by collecting information about a specific procedure, storing it, and then using it later. The KDD process employs data mining techniques to find patterns that are somewhat interesting. A technique for turning low-level data into high-level knowledge is the KDD. As a result, Frawley et al. characterized database knowledge discovery as the difficult task of finding true, fresh, possibly helpful, and ultimately comprehensible patterns in data.

When taking dataset-wdf into account, this dataset displays an intriguing temperature recording pattern with greatest temperature reportings and lowest temperature reportings. Because we can extract the statistics of other significant columns or components along with the temperatures, this trend is intriguing. We can get crucial information, such as which day had more vehicle crashes, if we combine this dataset with any of the datasets on car crashes, for instance. Here, by utilizing this temperature column, we may learn some crucial information about the data.
With respect to Citation dataset, we can find which violation was made by people and how much revenue it made. For example with above dataset we can infer that there are more speeding tickets than any other violation.

# Question 4 (25%)
**Machine Learning, Safety, and Fairness** Review the source materials for one of the examples of unfairness in machine learning discussed in class, and answer the following questions.  

(a) Mehrabi et al. define fairness in machine learning as ``absence of any prejudice or favoritism toward an individual or group based on
their inherent or acquired characteristics''.  Using this definition, how does the application of the machine learning approach result in an unfair outcome?

(b) What practices, if any, mitigated the impact of the algorithm's unfairness?

(c) What lessons can be learned from this example?

(a) In terms of decision-making and policy, fairness can be defined as "the lack of any prejudice or preference towards an individual or a group based on their inherent or acquired traits." Six of the most frequently utilized notions are equalized odds, equal opportunity, demographic parity, fairness through unawareness or group unawareness, and treatment equity.

According to the idea of equalized chances and equal opportunity, those who are eligible for a desirable outcome should have an equal chance of being assigned correctly regardless of whether they fall into a protected or unprotected group (for example, female/male). The additional ideas of "demographic parity" and "group unawareness" are illustrated by the Google visualization research team using an example of "simulating loan decisions for heterogeneous populations."

(b) Researchers and engineers have been debating the issues of safety and justice as a result of the development in popularity of AI and machine learning in recent decades and their pervasive use in a number of applications. Machine learning is used in courts to assess the likelihood that a criminal would reoffend. It is used in a number of medical fields, as well as in self-driving automobiles, child welfare initiatives, and welfare programs. All of these applications have a significant impact on our daily lives and have the potential to harm our society if they are not designed and developed fairly. The ways that AI systems' inherent biases affect our daily lives, such as bias in AI chatbots, employment matching, flight routing, automated legal help for immigration algorithms, and search and advertising placement algorithms.

Take into account approving loans for groups A and B separately. Regardless of whether a borrower is a member of a protected group, the total number of loans that are approved must be equal in groups A and B in order to achieve demographic parity. Since the overall loan approval rate is the main consideration for achieving demographic parity, the rate should be the same for both groups. Some members of group A who would repay the loan might face disadvantages in comparison to others in group B who might not. The equal opportunity idea, however, does not put those in group A at a disadvantage because it emphasizes true positive rate. As an example of fairness through unawareness “an algorithm is fair as long as any protected attributes are not explicitly used in the decision-making process”.

(c) An algorithm is fair as long as any protected attributes are not explicitly used in the decision-making process.